.g-video-widget
  .g-first-line
    line-height 30px

    .icon-pause
      color #ccc
    
    .icon-spin3.animate-spin
      color #6666d5

    .icon-ok
      color #53b653
    
    .icon-cancel
      color #d44
    
    .g-filename
      font-size 15px
      font-weight bold

  video.g-video-preview
    display block
    height 300px
    width 600px
    background black
    margin-top 5px

    &.full-width
      width 100%
      height 400px

  .g-button-bar
    .btn
      padding 5px 8px
      font-size 13px
      line-height 1.3
